@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@700&family=Manjari&display=swap");

* {
    font-family: Carlito;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/* Navbbar */

.navbar {
    background-color: #0a0a0a;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #fe0016 solid 2px;
    position: fixed;
    z-index: 1;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo_image {
    background-color: transparent;
    background-image: url("images/Smash_Ball.svg_branco.png");
        background-position: center;
        background-size: 85px;
        background-repeat: no-repeat;
    width: 150px;
    height: 65px;
    padding: 35px;
    border-radius: 65px;
}

.navbar_logo_text {
    background-color: transparent;
    background-image: url("images/ssbu-logo.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    width: 190px;
    height: 125px;
}

.navbar_opcoes {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

a {
    font-family: Carlito;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 200;
    transition: all ease-in-out 0.2s;
}

a:hover {
    color: #fe0016;
}

/* Página */

.container_index {
    padding-top: 17vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
}

.grafico_body {
    width: 90vw;
    height: 500px;
    overflow-y: scroll;
}

canvas {
    font-family: Carlito;
    height: 100px;
    background-color: rgb(18, 25, 59);
}

.texto-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.tela {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 0px;
    height: 100vh;
    position: fixed;
    background-color: #0a0a0a;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .fecharSbar a {
    font-size: 35px;
    margin: 15px;
}

.fecharSbar {
    text-align: start;
    width: 100%;
    height: 15%;
}

.infosSbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 65%;
}

.videossf {
    display: flex;
    flex-direction: column;
    font-family: Carlito;
    color: black;
    font-size: 23px;
    font-weight: 200;
    transition: all ease-in-out 0.2s;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fe0015;
    border-left: solid 2px #0a0a0a;
    border-top: #0a0a0a solid 2px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a0a0a; 
    transition: all ease-in-out 0.2s;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}