@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@700&family=Manjari&display=swap");

* {
    font-family: Carlito;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/* Navbbar */

.navbar {
    background-color: #0a0a0a;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #fe0016 solid 2px;
    position: fixed;
    z-index: 1;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo_image {
    background-color: transparent;
    background-image: url("images/Smash_Ball.svg_branco.png");
        background-position: center;
        background-size: 85px;
        background-repeat: no-repeat;
    width: 150px;
    height: 65px;
    padding: 15px;
    border-radius: 65px;
}

.navbar_logo_text {
    background-color: transparent;
    background-image: url("images/ssbu-logo.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    width: 190px;
    height: 125px;
}

.navbar_opcoes {
    display: flex;
    width: 200px;
    justify-content: space-evenly;

}

a {
    font-family: Carlito;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 200;
    transition: all ease-in-out 0.2s;
}

a:hover {
    color: #fe0016;
}

/* Página */

.container_index {
    width: 100%;
    height: 6000px;
    padding-top: 15vh;
    overflow: hidden;
}

.container_image {
    width: 100%;
    height: 700px;
    background-color: #0a0a0a;
}

.image_inicial {
    width: 100%;
}

.container_info {
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    height: auto;
    width: 100%;
    padding-top: 70px;
    align-items: center;
    border-bottom: solid #0a0a0a 7px;
}

.bottom {
    display: flex;
    background-color: #0a0a0a;
    height: 300px;
    width: 100%;
}

h1 {
    color: white;
    background-color: #fe0016;
    width: 465px;
    height: 80px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: solid 5px black;
}

.characters {
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: scroll;
    margin-top: 10px;
}

.image_character {
    height: 300px;
    transition: all ease-in-out 0.2s;
    background-color: #bfbfbf;
}

.image_character:hover {
    height: 350px;
    background-color: #fe0016;
}

.line {
    height: fit-content;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.dlc{
    background-color: #fe0016;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
}

.image_box {
    width: 150px;
    height: 435px;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-right: #0a0a0a solid 1px;
    border-left: #0a0a0a solid 1px;
}

.rotulo {
    background-color: #0a0a0a;
    position: relative;
    color: white;
    font-family: Carlito;
    font-size: 25px;
    font-weight: 100;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
}

.image_widescreen {
    width: 100%;
    display: flex;
}

.image_gigante {
    animation: andar 100s infinite linear;
}

@keyframes andar {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -100vw;
    }
    100% {
        margin-left: 0;
    }
}

.logo_absoluta {
    position: absolute;
    padding-top: 580px;
    padding-left: 50px;
}

.logo_absoluta_image {
    width: 600px;
}

.divisao {
    width: 800px; 
    height: 50px; 
    transform: skew(30deg);
    background: #fe0016;
    margin-top: -30px;
}

.div_sao {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 680px;
    position: absolute;
}

.container_mapas {
    padding-top: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mapas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0a0a;
    border: #0a0a0a solid 4px;
}

.risca_fighter {
    width: 1100px; 
    height: 120px; 
    transform: skew(15deg);
    position: absolute;
    padding-left: 100px;
    margin-left: 390px;
    margin-top: 650px;
    display: flex;
    justify-content: center;
    border-left: black solid 15px;
}

.mapLine img:hover {
    border: #fe0016 solid 4px;
    padding: 0px;
}

.mapLine img {
    padding: 4px;
}

.smashes {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: #0a0a0a;
    color: white;
}

.forSmash {
    height: 200px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.smashesIMG {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a0a0a;
    color: white;
}

.forSmash img {
    height: 100%;
    cursor: pointer;
}

.forSmash img:hover {
    border: #fe0016 solid 4px;
    height: 97%;
}

.lineRed {
    margin-top: 150px;
    background-color: #fe0016;
    border-top: #0a0a0a solid 2px;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineRed h1 {
    border: none;
}

.smashes spam {
    color: white;
    width: 90%;
}

.smashesTXT {
    color: white;
    width: 90%;
    margin-top: 100px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-left: solid 2px #0a0a0a;
    border-top: #0a0a0a solid 2px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a0a0a; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fe0016; 
}

.about {
    width: 100%;
    height: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.about img {
    width: 70%;
}

.infoSSF {
    text-align: center;
    width: 50%;
    border: solid #0a0a0a 2px;
}

.infosSmashF {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.sidebar {
    width: 0%;
    height: 100%;
    position: fixed;
}

.videossf {
    display: flex;
    flex-direction: column;
    font-family: Carlito;
    color: black;
    font-size: 23px;
    font-weight: 200;
    transition: all ease-in-out 0.2s;
}

.videossf a {
    color: black;
    cursor: pointer;
    width: auto;
    height: auto;
}

.videossf a:hover {
    color: #fe0016;
}